<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button type="button" class="button" id="select" onclick="chartcalling()">차트보기</button>
    <div>
    <h3>CO2 밀도 증가와 년도 대비 기후증감</h3> 
    <br><hr><br>
    <div id="barchart" style="width: 900px; height: 300px;"></div>
    <h4>시간이 지남에 따라 CO2의 농도가 점점 증가하고 있다. (CO2 밀도 단위는 ppm(parts per million)) A.k milligrams per liter (mg/L)</h4>
    <br><hr><br>
    <div id="schart" style="width: 900px; height: 300px;"></div>
    <h4> 시간이 지남에 따라 전 지구의 평균 온도가 점차 증가하고 있다.</h4>
    <br><hr><br>
    <h3> 시간에 따른 해수면 높이와 온도의 변화</h3> 
    <div id="sealevel" style="width: 900px; height: 500px;"></div>
    <h4> 해수면 온도가 올라가면서 해수면의 높이도 상승하는 것을 볼 수 있다.</h4>
    <br><hr><br>
    <div id="seatem" style="width: 900px; height: 500px;"></div>
    <br><hr><br>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.load('visualization', '1', {packages: ['corechart']});

        function chartcalling() {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                            
                    alert(1)
                    console.log(this.responseText);
                    data=this.responseText
                    data = JSON.parse(this.responseText);
                    
                    console.log(data);

                    //   for (i in data){        
                    //                 //console.log(i);
                    //                 console.log([data[i].year]);
                    //             }
                    
                    graph_img = "./static/image/barchart1.png"
                    graph_img1 = "./static/image/barchart.png"
                                       
                    document.getElementById("sealevel").innerHTML = '<img src="'+ graph_img +'">';
                    document.getElementById("seatem").innerHTML = '<img src="'+ graph_img1 +'">';


                    b = [['Year', 'Co2density']]
                    c = [['Year', 'Temgap']]

                    
                    for(let i=0; i<data.length; i++){
                        //console.log(i)
                        console.log([data[i].year, data[i].co2_den, data[i].temgap]);
                        b.push([data[i].year, data[i].co2_den]);

                    }
             
                    var inchart = google.visualization.arrayToDataTable(b);

                    var options = {
                        vAxis: {0: {format: '###.#'}, //1: {format: '###.#'},
                        hAxis: { title: "year", format: 'int'},
                        series: {
                            0:{ type: "bars", targetAxisIndex: 0 }
                            //1: { type: "line", targetAxisIndex: 1}
                            }
                           }
                        }    
                    var chart = new google.visualization.ComboChart(document.getElementById('barchart'));
                    
                    chart.draw(inchart, options);
                   

                     

                     

                    
                    for(let i=0; i<data.length; i++){
                        //console.log(i)
                        console.log([data[i].year, data[i].co2_den, data[i].temgap]);
                        c.push([data[i].year, data[i].temgap]);

                    }
             
                    var inchart = google.visualization.arrayToDataTable(c);

                    var options = {
                        vAxis: {0: {format: '###.#'}, //1: {format: '###.#'},
                        hAxis: { title: "year", format: 'int'},
                        series: {
                            0:{ type: "bars", targetAxisIndex: 0 }
                            //1: { type: "line", targetAxisIndex: 1}
                            }
                           }
                        }    
                    var chart = new google.visualization.ComboChart(document.getElementById('schart'));
                    
                    chart.draw(inchart, options);

                }
            };       
            xhttp.open("GET", "calling"); 
            //xhttp.setRequestHeader('Content-Type', 'application/json');       
            xhttp.send();
                       
           

            
        }
        
        
            
     
    </script>

</body>
</html>